<!-- <contact-form></contact-form>-->
<!-- <app-learning></app-learning> -->
<app-api></app-api>

<!-- <table border="1">
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>UserName</td>
  </tr>
  <tr *ngFor="let item of data">
    <td>Id</td>
    <td>Name</td>
    <td>UserName</td>
  </tr>
</table> -->

<!-- <app-register-form></app-register-form> -->
<!-- <button (click)="onContactClicked()">Show contact-form</button>
<button (click)="onRegisterClicked()">Show register-form</button>
<router-outlet></router-outlet> -->
<!-- <router-outlet></router-outlet> -->
